<h1>Edit form </h1>

<form action="/collections/<%= @collection.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    Brand: <input type=text value="<%= @collection.brand %>" name="brand">
    Style: <input type=text value="<%= @collection.style %>" name="style">
    Color: <input type=text value="<%= @collection.color %>" name="color">
    Size: <input type=number value="<%= @collection.size %>" name="size">
    Price: <input type=number value="<%= @collection.price %>" name="price">
    <input type=submit>
</form>