<% @collections.each do |collection| %>

    <a href="/collections/<%= collection.id %> "> view knife </a>

     Collection number: <%= collection.id %> <br>
    Brand: <%= collection.brand %> <br>
    Style: <%= collection.style %> <br>
    Color: <%= collection.color %> <br>
    Size: <%= collection.size %>"  <br>
    Price: $<%= collection.price %><br>

<% end %>

<nav>
    <a href="/collections/new"> Add knife to collection! </a>

    

 

<